docs/n8n/workflows/agent-orchestration-demo.json
{
  "name": "Agent Orchestration Demo — CMO → Copywriter Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-demo",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://copyzen-agents:3001/agents/cmo/analyze-briefing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Agent-API-Key", "value": "={{ $env.AGENT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ briefing: $json.briefing }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-2",
      "name": "CMO Analyze Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.data.needs_more_info }}",
              "value2": false
            }
          ]
        }
      },
      "id": "node-3",
      "name": "Has Enough Info?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://copyzen-agents:3001/agents/copywriter/generate-post",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Agent-API-Key", "value": "={{ $env.AGENT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ brief: 'Gerar post para o pacote ' + $('CMO Analyze Briefing').item.json.data.recommended_package + ' — ' + $('Webhook Trigger').item.json.briefing.nome_negocio, brand_config: $('Webhook Trigger').item.json.brand_config, mode: 'inception', type: 'image' }) }}",
        "options": {}
      },
      "id": "node-4",
      "name": "Copywriter Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://copyzen-agents:3001/agents/cmo/review-output",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Agent-API-Key", "value": "={{ $env.AGENT_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ output: { agent: 'copywriter', action: 'generate_social_content', content: $('Copywriter Generate Post').item.json.data.body, client_id: null, created_at: new Date().toISOString() }, brand_config: $('Webhook Trigger').item.json.brand_config }) }}",
        "options": {}
      },
      "id": "node-5",
      "name": "CMO Review Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ pipeline_complete: true, cmo_analysis: $('CMO Analyze Briefing').item.json.data, post_copy: $('Copywriter Generate Post').item.json.data, review: $('CMO Review Output').item.json.data }) }}"
      },
      "id": "node-6",
      "name": "Return Pipeline Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ pipeline_complete: false, reason: 'Briefing needs more information', missing_info: $('CMO Analyze Briefing').item.json.data.missing_info }) }}"
      },
      "id": "node-7",
      "name": "Request More Info",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "CMO Analyze Briefing", "type": "main", "index": 0 }]]
    },
    "CMO Analyze Briefing": {
      "main": [[{ "node": "Has Enough Info?", "type": "main", "index": 0 }]]
    },
    "Has Enough Info?": {
      "main": [
        [{ "node": "Copywriter Generate Post", "type": "main", "index": 0 }],
        [{ "node": "Request More Info", "type": "main", "index": 0 }]
      ]
    },
    "Copywriter Generate Post": {
      "main": [[{ "node": "CMO Review Output", "type": "main", "index": 0 }]]
    },
    "CMO Review Output": {
      "main": [[{ "node": "Return Pipeline Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "copyzen-agent-orchestration-demo",
    "description": "Demonstrates CMO analyze briefing → Copywriter generate post → CMO review pipeline",
    "story": "3.6"
  }
}
