docs/n8n/workflows/brand-intelligence-scrape.json
{
  "name": "brand-intelligence-scrape",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-intelligence-scrape",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Brand Intelligence Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "brand-intelligence-scrape",
      "notes": "Input: { client_id, urls: [{url, source_type}] }"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\nconst urls = body.urls || [];\n// Filter valid URLs\nreturn urls\n  .filter(u => u.url && u.url.startsWith('http'))\n  .map(u => ({\n    json: {\n      client_id: body.client_id,\n      url: u.url,\n      source_type: u.source_type || 'website'\n    }\n  }));"
      },
      "id": "split-urls",
      "name": "Code: Split URLs for Processing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/brand_intelligence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=representation"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"source_url\": \"{{ $json.url }}\",\n  \"source_type\": \"{{ $json.source_type }}\",\n  \"status\": \"processing\"\n}",
        "options": {}
      },
      "id": "create-record",
      "name": "Supabase: Create brand_intelligence Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FIRECRAWL_API_URL }}/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.FIRECRAWL_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Code: Split URLs for Processing').item.json.url }}\",\n  \"formats\": [\"markdown\", \"screenshot\"],\n  \"actions\": [],\n  \"waitFor\": 2000\n}",
        "options": {}
      },
      "id": "firecrawl-scrape",
      "name": "HTTP: Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "continueOnFail": true,
      "notes": "Firecrawl for websites. Use Apify actors for social media (Instagram/LinkedIn)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $env.CLAUDE_API_KEY }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": \"Analyze website content and extract brand information. Return JSON only.\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analyze this website content and return JSON:\\n\\n{{ $json.data?.markdown?.substring(0, 3000) || '' }}\\n\\nReturn: {\\\"tone_detected\\\": \\\"formal|casual|technical\\\", \\\"keywords_extracted\\\": [\\\"top 20 keywords\\\"], \\\"content_structure\\\": {\\\"headings\\\": [], \\\"cta_count\\\": 0, \\\"images_count\\\": 0, \\\"text_length\\\": 0}, \\\"confidence_scores\\\": {\\\"tone\\\": 0.0-1.0, \\\"keywords\\\": 0.0-1.0}}\"\n  }]\n}",
        "options": {}
      },
      "id": "claude-analyze",
      "name": "HTTP: Claude Analyze Tone + Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const scrapeResult = $('HTTP: Firecrawl Scrape').item.json;\nconst claudeResult = $input.item.json;\nconst recordId = $('Supabase: Create brand_intelligence Record').item.json[0]?.id;\n\nlet analysis = { tone_detected: null, keywords_extracted: [], content_structure: {}, confidence_scores: { tone: 0, keywords: 0 } };\ntry {\n  const content = claudeResult.content?.[0]?.text || '{}';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  analysis = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch(e) {}\n\nconst anyLowConfidence = Object.values(analysis.confidence_scores || {}).some(v => v < 0.6);\nconst status = scrapeResult?.error ? 'failed' : (anyLowConfidence ? 'needs_review' : 'complete');\n\nreturn [{\n  json: {\n    record_id: recordId,\n    analysis,\n    screenshot_url: scrapeResult.data?.screenshot || null,\n    status,\n    needs_review: anyLowConfidence\n  }\n}];"
      },
      "id": "parse-results",
      "name": "Code: Parse + Assess Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/brand_intelligence?id=eq.{{ $json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tone_detected: $json.analysis.tone_detected, keywords_extracted: $json.analysis.keywords_extracted || [], content_structure: $json.analysis.content_structure || {}, confidence_scores: $json.analysis.confidence_scores || {}, screenshot_url: $json.screenshot_url, status: $json.status }) }}",
        "options": {}
      },
      "id": "update-record",
      "name": "Supabase: Update brand_intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"records_processed\": true}",
        "options": {"responseCode": 200}
      },
      "id": "respond-ok",
      "name": "Response: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook: Brand Intelligence Trigger": {"main": [[{"node": "Code: Split URLs for Processing", "type": "main", "index": 0}]]},
    "Code: Split URLs for Processing": {"main": [[{"node": "Supabase: Create brand_intelligence Record", "type": "main", "index": 0}]]},
    "Supabase: Create brand_intelligence Record": {"main": [[{"node": "HTTP: Firecrawl Scrape", "type": "main", "index": 0}]]},
    "HTTP: Firecrawl Scrape": {"main": [[{"node": "HTTP: Claude Analyze Tone + Keywords", "type": "main", "index": 0}]]},
    "HTTP: Claude Analyze Tone + Keywords": {"main": [[{"node": "Code: Parse + Assess Confidence", "type": "main", "index": 0}]]},
    "Code: Parse + Assess Confidence": {"main": [[{"node": "Supabase: Update brand_intelligence", "type": "main", "index": 0}]]},
    "Supabase: Update brand_intelligence": {"main": [[{"node": "Response: Success", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {
    "description": "Scrapes client digital assets (website, social), extracts colors/fonts/tone/keywords via Claude. Confidence < 0.6 triggers needs_review. Story 2.6.",
    "envVars": ["FIRECRAWL_API_URL", "FIRECRAWL_API_KEY", "CLAUDE_API_KEY", "SUPABASE_URL", "SUPABASE_SERVICE_ROLE_KEY"]
  },
  "tags": [{"name": "sistema-0"}, {"name": "brand-intelligence"}]
}
