docs/n8n/workflows/dispatch-specific-surveys.json
{
  "name": "dispatch-specific-surveys",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dispatch-specific-surveys",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Dispatch Surveys",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dispatch-specific-surveys",
      "notes": "Triggered by proposal-response-handler when approved. Input: { proposal_id, briefing_id, package }"
    },
    {
      "parameters": {
        "jsCode": "const pkg = $input.item.json.body.package;\nconst systemsPerPackage = {\n  ia: ['content'],\n  art: ['content', 'funwheel'],\n  e: ['content', 'sales_page'],\n  combo_leads: ['content', 'funwheel'],\n  combo_cash: ['content', 'funwheel', 'sales_page']\n};\nconst systems = systemsPerPackage[pkg] || ['content'];\n\nconst surveyUrls = {\n  content: $env.GHL_SURVEY_CONTENT_URL || 'https://survey.example.com/content',\n  funwheel: $env.GHL_SURVEY_FUNWHEEL_URL || 'https://survey.example.com/funwheel',\n  sales_page: $env.GHL_SURVEY_SALES_URL || 'https://survey.example.com/sales'\n};\n\nreturn systems.map(system => ({\n  json: {\n    briefing_id: $input.item.json.body.briefing_id,\n    proposal_id: $input.item.json.body.proposal_id,\n    system,\n    survey_url: surveyUrls[system]\n  }\n}));"
      },
      "id": "determine-systems",
      "name": "Code: Determine Systems by Package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/system_surveys",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "Prefer", "value": "return=representation"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"briefing_id\": \"{{ $json.briefing_id }}\",\n  \"system\": \"{{ $json.system }}\",\n  \"responses\": {},\n  \"status\": \"received\"\n}",
        "options": {}
      },
      "id": "create-survey-record",
      "name": "Supabase: Create Survey Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.EVOLUTION_API_HOST }}/message/sendText/{{ $env.EVOLUTION_INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.CLIENT_PHONE_PLACEHOLDER }}\",\n  \"text\": \"🎉 Proposta aprovada! Para personalizarmos seu {{ $json.system }}, precisamos de mais detalhes.\\n\\n👉 {{ $json.survey_url }}\\n\\nSão rapidinhos — prometo! 😊\"\n}",
        "options": {}
      },
      "id": "send-survey-link",
      "name": "HTTP: Send Survey Link via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"surveys_dispatched\": true}",
        "options": {"responseCode": 200}
      },
      "id": "respond-ok",
      "name": "Response: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook: Dispatch Surveys": {"main": [[{"node": "Code: Determine Systems by Package", "type": "main", "index": 0}]]},
    "Code: Determine Systems by Package": {"main": [[{"node": "Supabase: Create Survey Record", "type": "main", "index": 0}]]},
    "Supabase: Create Survey Record": {"main": [[{"node": "HTTP: Send Survey Link via WhatsApp", "type": "main", "index": 0}]]},
    "HTTP: Send Survey Link via WhatsApp": {"main": [[{"node": "Response: Success", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {
    "description": "Dispatches system-specific GHL surveys based on contracted package. Creates system_survey records. Story 2.5.",
    "envVars": ["GHL_SURVEY_CONTENT_URL", "GHL_SURVEY_FUNWHEEL_URL", "GHL_SURVEY_SALES_URL", "EVOLUTION_API_HOST", "EVOLUTION_INSTANCE_NAME", "EVOLUTION_API_KEY", "SUPABASE_URL", "SUPABASE_SERVICE_ROLE_KEY"]
  },
  "tags": [{"name": "sistema-0"}, {"name": "surveys"}]
}
